*{#{include 'head.html' /}
}*
#{extends 'main.html' /}
<body>

	<div class="span12">
		<div class="login">

			#{form @authenticate(), class:'well'}

			<legend>Login</legend>

			#{if flash.error}
			<div class="alert alert-error">&{flash.error}</div>
			#{/if} 
			#{if flash.success}
			<div class="alert alert-info">&{flash.success}</div>
			#{/if}

			<div class="fields">
				<div class="control-group">
					<label class="control-label" for="secure_username">&{'secure.username'}</label>
					<div class="controls">
						<input class="input-xlarge" id="secure_username" name="username" type="text" value="${flash.username}">
						<span class="help-block"></span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="secure_password">&{'secure.password'}</label>
					<div class="controls">
						<input class="input-xlarge" id="secure_password" name="password" type="password" value="">
						<span class="help-block"></span>
					</div>
				</div>
			</div>

			<div class="form-actions">
				<div class="span12 row">
					<div class="span4">
						<input type="submit" class="btn btn-primary" id="signin" value="&{'secure.signin'}" />
					</div>
					<div class="span6">
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
				                <input accept="" id="remember" name="remember" type="checkbox" value="true" ${flash.remember ? 'checked="true" ' : ''}>&{'secure.remember'}</label>
								<span class="help-block"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<p id="signin-field">
				<a class="" href="@@{Users.forgotPassword}" >Forgot password?</a>
			</p>
			
			<div class="sign-up">
				<a class="btn btn-success btn-sign-up" id="signup" href="@@{Users.signup}" >&{'secure.signup'}</a>
			</div>
			
			#{/form}
						
		</div>
		
	</div>

</body>
</html>