#{if currentUser}
#{extends 'main.html' /}
#{/if}
#{else}
#{include 'head.html' /}
#{/else}

<div class="page-header top">
#{if tblUser?.id}
    <h1>Edit User</h1>
#{/if}
#{else}
    <h1>New User</h1>
#{/else}
</div>

#{form @submit(), class:'form-horizontal', id:'register-form'}

	#{if tblUser?.id}
    <input type="hidden" name="tblUser.id" value="${tblUser.id}" />
    #{/if}

	#{input 'tblUser.name' /}
    #{input 'tblUser.email' /}
    #{input 'tblUser.login' /}
    #{input 'tblUser.password', type:'password' /}
    #{input 'tblUser.confirmPassword', type:'password' /}

    #{if currentUser != null && !currentUser.equals("") && currentUser != tblUser}
    #{input 'tblUser.role.id', type:'select', items:roles, labelProperty:'name' /}
    #{submit /}
    #{/if}
    #{else}
    <div class="hidden">
    #{input 'tblUser.role.id', type:'select', items:signupRoles, labelProperty:'name' /}
    </div>
    <button class="btn btn-primary" onclick="javascript:register()"> Save User </button>
    #{/else}

#{/form}

<script>
function register() {
	var frm = document.getElementById("register-form");
	frm.action = '@@{Users.register}';
	return true;
}
</script>