#{extends 'main.html' /}
#{set title:'Users' /}

<div class="page-header top clearfix">
    <h1 class="span6">${title}</h1>
    *{<div class="span6 mt20">
        <form class="pull-right mb0">
          <input type="text" class="search-query" placeholder="Type & Press Enter to Search">
        </form>
    </div>
    }*
</div>
#{if flash.error}
    #{alert flash.error, type:'error'/}
#{/if}
#{elseif flash.success}
 	#{alert flash.success, type:'success'/}
#{/elseif}
<table class="table table-striped searchable">
	<thead>
		<tr>
			<th>&{'tblUser.login'}</th>
			<th>&{'tblUser.name'}</th>
			<th>&{'tblUser.role.id'}</th>
			<th>Actions</th>
		</tr>
	<thead>
	<tbody>
	#{list items:tblUsers, as:'tblUser'}
		<tr>
			<td>${tblUser.login}</td>
			<td>${tblUser.name}</td>
			<td>${tblUser.role?.name}</td>
			<td class="buttons">
				#{deadbolt.externalizedRestriction externalRestrictions:['Edit tblUser']}
				<a class="btn btn-mini" href="@{Users.edit(tblUser.id)}"><i class="icon-edit"></i> Edit</a>
				<a class="btn btn-mini confirm btn-danger delete" data-url="@{Users.delete(tblUser.id)}" href="#deleteModal"><i class="icon-remove icon-white"></i> Delete</a>
				#{/deadbolt.externalizedRestriction}
			</td>
		</tr>
	#{/list}
	#{else}
		<tr>
			<td colspan="4">No User Available</td>
		</tr>
	#{/else}
	<tbody>
</table>
