#{extends 'main.html' /}

<div class="page-header top">
<h1>Profile</h1>
</div>

#{if flash.error}
    #{alert flash.error, type:'error'/}
#{/if}
#{elseif flash.success}
 	#{alert flash.success, type:'success'/}
#{/elseif}
#{form @submitProfile(), class:'form-horizontal', id:'register-form'}

	#{if user?.id}
    <input type="hidden" name="user.id" value="${user.id}" />
    #{/if}

	#{input 'user.name' /}
    #{input 'user.email' /}
    #{input 'user.password', type:'password' /}
    #{input 'user.confirmPassword', type:'password' /}

    #{if currentUser != null && !currentUser.equals("") && currentUser != user}
    #{input 'user.role.id', type:'select', items:roles, labelProperty:'name' /}
    #{submit /}
    #{/if}
    #{else}
    <div class="hidden">
    #{input 'user.role.id', type:'select', items:signupRoles, labelProperty:'name' /}
    </div>
	#{submit /}
    #{/else}

#{/form}
