#{extends 'main.html' /}

<h1>Reset Password</h1>
#{if flash.error}
    #{alert flash.error, type:'error'/}
#{/if}
#{elseif flash.success}
 	#{alert flash.success, type:'success'/}
#{/elseif}
#{form @resetPassword()}
<input type="hidden" name="email" value="${email}" />
<input type="hidden" name="passwordResetId" value="${passwordResetId}" />
#{input 'user.password', type:'password' /}
#{input 'user.confirmPassword', type:'password' /}
<button type="submit" class="btn btn-success">Reset Password</button>
#{/form}