#{extends 'main.html' /}
#{set title:'Roles' /}

<div class="page-header top clearfix">
    <h1 class="span6">${title}</h1>
    <div class="span6 mt20">
        <form class="pull-right mb0">
          <input type="text" class="search-query" placeholder="Type & Press Enter to Search">
        </form>
    </div>
</div>

<table class="table table-striped searchable">
	<thead>
		<tr>
			<th>&{'role.id'}</th>
			<th>&{'role.name'}</th>
			<th>Actions</th>
		</tr>
	<thead>
	<tbody>
	#{list items:roles, as:'role'}
		<tr>
			<td>${role.id}</td>
			<td>${role.name}</td>
			<td class="buttons">
            	<a class="btn btn-mini" href="@{Users.roleEdit(role.id)}"><i class="icon-edit"></i> Edit</a>
				<a class="btn btn-mini btn-danger delete" data-url="@{Users.roleDelete(role.id)}" href="#deleteModal"><i class="icon-remove icon-white"></i> Delete</a>
			</td>
		</tr>
	#{/list}
	#{else}
		<tr>
			<td colspan="3">No Role Available</td>
		</tr>
	#{/else}
	<tbody>
</table>