*{#{include 'head.html' /}
}*
#{extends 'main.html' /}
<body>

	<div class="span12">
		<div class="login">

			#{form @register(), class:'well'}

			<legend>SignUp</a></legend>

			#{if flash.error}
			<div class="alert alert-error">&{flash.error}</div>
			#{/if} #{if flash.success}
			<div class="alert alert-info">&{flash.success}</div>
			#{/if}

			<div class="fields">
				
				#{if user?.id}
			    <input type="hidden" name="user.id" value="${user.id}" />
			    #{/if}
			
				#{input 'user.name' /}
			    #{input 'user.email' /}
			    #{input 'user.login' /}
			    #{input 'user.password', type:'password' /}
			    #{input 'user.confirmPassword', type:'password' /}
			    <div class="hidden">
			    #{input 'user.role.id', type:'select', items:signupRoles, labelProperty:'name' /}
			    </div>
			</div>

			<div class="form-actions">
				<div class="row span12">
					<div class="span6">
						<input type="submit" class="btn btn-success" value="Create User" />
					</div>
				</div>
			</div>
			
			#{/form}
						
		</div>
		
	</div>

</body>
</html>