#{extends 'Exams/tabExam.html' /}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="@{Exams.listExam}">Exams</a> <span class="divider">/</span></li>
    <li class="active" ><a href="@{Exams.editExam(exam.id)}">${exam.examCode}</a><span class="divider">/</span></li>
    <li class="active">Invite</li>
</ul>


<h1>Invite People</h1>

#{form @inviteByEmail()}

	<input type="hidden" name="examId" value="${exam.id}">
	#{input 'emailList', type:'textarea' /}
	<button class="btn btn-info" type="submit">Invite by Email </button>

#{/form}

<table class="table table-striped">
<thead>
	<th>Email</th>
	<th>User</th>
	<th>status</th>
</thead>
<tbody>
#{list items:invitationList, as:'invitation'}
<tr><td>${invitation.email}</td><td>${invitation.user}</td><td>${invitation.status.name}</td></tr>
#{/list}
#{else}
<tr><td colspan="7">No Invitation Found</td></tr>
#{/else}
</tbody>
</table>