#{extends 'main.html' /}

<ul class="nav nav-tabs">
	<li#{if "Exams.listExam" == request.action
		|| 	"Exams.invite" == request.action
		|| 	"Exams.questionsExam" == request.action
		|| 	"Exams.editExam" == request.action
		|| 	"Exams.createExam" == request.action
		|| 	"Exams.editQuestion" == request.action
		|| 	"Exams.addQuestion" == request.action
		|| 	"Exams.settingsExam" == request.action
		|| 	"Exams.previewExam" == request.action
		|| 	"Exams.participates" == request.action
	
		} class="active"#{/if}>
			<a href="@{Exams.listExam()}">
			#{if models.Role.isAdmin(currentUser.role)}All#{/if}#{else}My#{/else}
		 	Exams
		 	</a>
	</li>	
	<li#{if "Exams.listAnswerPaper" == request.action 
			|| "Exams.viewAnswerPaper" == request.action	
			|| 	"Exams.startExam" == request.action
		} class="active"#{/if}>
		<a href="@{Exams.listAnswerPaper()}">
		#{if models.Role.isAdmin(currentUser.role)}All#{/if}#{else}My#{/else}	 
		Participations</a>
	</li>	

</ul>

<div class="tab-content">
	#{doLayout /}
</div>
