#{include 'head.html' /}
<body>
	<div class="navbar navbar-inverse navbar-fixed-top ">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">&{'application.name'}</a>
          <div class="nav-collapse">
            <ul class="nav">
              	<li class=#{if request.action == 'Application.index'}"active"#{/if}
              		#{else}""#{/else}><a href="@{Application.index}">Home</a></li>
	        	<li class=#{if request.action == 'Application.about'}"active"#{/if}
              		#{else}""#{/else}><a href="@{Application.about}">About</a></li>
            </ul>
                
        	#{if currentUser}
        	<ul class="nav pull-right">
        		<li class="divider-vertical"></li>
            	<li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">${currentUser} <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="@{Users.profile}"><i class="icon icon-user"></i> Profile</a></li>
	                <li class="divider"></li>
	                <li><a href="@@{Secure.logout()}"><i class="icon icon-off"></i> Logout</a></li>
	              </ul>
	            </li>
            </ul>
        	#{/if}
        			
	        <!-- search form -->
			<form class="navbar-form form-search pull-right" action="@{Exams.searchExam()}">
				<div class="input-append">
					<input type="text" class="span3 search-query" name="searchKey" value="${searchKey}" placeholder="Search Exam to Participate"/>
					<button type="submit" class="btn"><i class="icon-search"></i></button>
				</div>
			</form>
        
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
      #{ifnot noSidebar && !currentUser}
      	<div class="span3">
          #{include 'sidebar.html' /}
        </div><!--/span-->
        <div class="span9">
          #{doLayout /}
        </div><!--/span-->
      #{/ifnot}
      #{else}
      	<div class="span12">
      		#{doLayout /}
      	</div>
      #{/else}
      </div><!--/row-->

		<hr/>
		<fieldset id="footer">
		      <div class="navbar navbar-fixed-bottom ">
		      	<div class="navbar-inner">
		        <div class="container-fluid">
					<div class="span4">
					Share Us on:          		 
					<a  href="https://www.facebook.com/sharer.php?u=${request.getBase()}&t=TRY+&{'application.name'}" target="_blank" >
									  	<img class="btn-mini"  alt="Share On Facebook" src="@{'/public/images/FB-small.png'}" />
									  </a>
						       		  <a  href="https://twitter.com/share" target="_blank">
						       		  	<img class="btn-mini"  alt="Share On Twitter" src="@{'/public/images/twitter.png'}" />
						       		  </a>
					</div>
					<div class="span4">
					
									  &copy; muzahid.ict@gmail.com				   
					</div>
					<div class="span4">
					Developed by : Md. Muzahidul Islam
					</div>
				</div>	
				</div>
		      </div>
		</fieldset>

    </div>
    <!--/.fluid-container-->

#{if play.mode == "DEV"}
	#{script src:'bootstrap.js' /}
    #{script src:'bootbox.js' /}
#{/if}

#{else}
    #{script src:'bootstrap.min.js' /}
    #{script src:'bootbox.min.js' /}
#{/else}

    #{get 'moreScripts' /}
    #{script src:'main.js' /}
</body>
</html>